.slides::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
}

.outline-btn {
    color: #289BDE;
    border: 2px solid #289BDE;
    background-color: white;
}

.blue-btn {
    background-color: #289BDE;
}

.blue-text {
    color: #289BDE;
}